.link {
  font-size: 1.3em;
  font-family: "Fuzzy Bubbles", cursive;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.link p {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
}

div p {
  color: white;
  font-size: 1.1em;
  font-family: "Fuzzy Bubbles", cursive;
  text-align: center;
}
