header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
}

header.black {
  background-color: #090b13;
}

header h1 {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 40px;
  color: white;
}

header p {
  font-family: "Fuzzy Bubbles", cursive;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
}

header input {
  width: 50%;
  height: 45%;
  border: none;
  font-family: sans-serif;
  font-size: 1.1em;
  margin-right: 220px;
}
.link {
  font-size: 1.3em;
  font-family: "Fuzzy Bubbles", cursive;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.subCategoria {
  width: auto;
  height: auto;
  /* background-color: maroon; */
  z-index: 3;
  position: absolute;
  margin-left: 30px;
  padding-left: 30px;
  border-left: 2px solid white;
  padding-bottom: 10px;
}
/* .subCategoria2{
  width: 350px;
  height: auto;
  position: absolute;
  background-color: mediumorchid;
  right: 4%;
} */
.itemsCategoria:hover .containerSubmenu {
  display: inline-block;
}
/* Itens nome categorias */
.subItem {
  list-style: none;
  text-align: left;
  margin-bottom: 9px;
  color: #8197a4;
}
.subItem:hover {
  color: white;
  cursor: pointer;
}
