/* .containerSubmenu{
    width: 800px;
    min-height: 350px;
    max-height: auto;
    background-color: #090b13;
    position: relative;
    display: inline-block;
    z-index: 3;
    margin-top: -15px;
    left: -240%;
    display: none;
    margin-left: 30px;
}

.itemsCategoria{
    width: 80px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.subCategoria{
    width: 350px;
    height: auto;
    /* background-color: maroon; */
    /* z-index: 3;
    position: absolute;
    margin-left: 30px;
    padding-left: 0px;
    border-left: 2px solid white;
}

.subCategoria2{
    width: 350px;
    height: auto;
    position: absolute;
    right: 4%;
}

.itemsCategoria:hover .containerSubmenu {
    display: inline-block;
}


.subItem{
    list-style: none;
    text-align: left;
    margin-bottom: 9px;
    color: #fff;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 1.1em;
} */ 
